# 忽略所有子模块 wrapper
*/mvnw
*/mvnw.cmd
*/*/mvnw
*/*/mvnw.cmd

# Maven
target/
*.log
*.class
*.jar
*.war
*.ear

# IDEA
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# macOS
.DS_Store

# 日志
logs/
archived/

# 各模块可能的本地配置
*.yml.local
*.properties.local
/.mvn/


HELP.md
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
