<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maizi.auth.domain.mapper.PermissionMapper">

    <resultMap id="PermissionResultMap" type="com.maizi.auth.domain.entity.Permission">
        <id property="id" column="id"/>
        <result property="permName" column="perm_name"/>
        <result property="description" column="description"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="findPermissionsByUserId" resultMap="PermissionResultMap">
        SELECT DISTINCT p.id, p.perm_name, p.description, p.created_at
        FROM permissions p
                 JOIN role_permissions rp ON p.id = rp.perm_id
                 JOIN user_roles ur ON ur.role_id = rp.role_id
        WHERE ur.user_id = #{userId}
    </select>

</mapper>