<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maizi.auth.domain.mapper.RoleMapper">

    <resultMap id="RoleResultMap" type="com.maizi.auth.domain.entity.Role">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="description" column="description"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="findRolesByUserId" resultMap="RoleResultMap">
        SELECT r.id, r.role_name, r.description, r.created_at
        FROM roles r
                 JOIN user_roles ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId}
    </select>

</mapper>